link(rel="stylesheet", href="/style/mixins.css")


mixin postCreate(btn)
    .postMainContainer
        .imgContainer 
            img(src=loginUser.profilePicture, alt="User's profile picture", srcset="")
        .textareaContainer 
            textarea#postbox(placeholder="What's happening?")
            if btn
                .buttonContainer
                    button#submitPostBtn(disabled) Post

mixin popupWindow()
    .popup-container
        .popup-title
            h4 Reply
            button.btn-close-popup 
                i.fa-solid.fa-xmark
        +postCreate()
        .popup-button-container
            button.btn-close-popup Close
            button#replay-btn(type="submit", disabled) Reply

mixin deletePopupWindow()
    .delete-popup-container
        .popup-title
            h4 Delete Post
            button.btn-close-popup 
                i.fa-solid.fa-xmark
        p Are you sure you want to delete this post?
        .popup-button-container
            button.btn-close-popup Close
            button#delete-post-btn(type="submit") Delete

mixin pinnedPostPopupWindow()
    .pinned-popup-container
        .popup-title
            h4 Pinned Post
            button.btn-close-popup 
                i.fa-solid.fa-xmark
        p The post will appear at the top of your profile. You can only pin one post.
        .popup-button-container
            button.btn-close-popup Close
            button#pinned-post-btn(type="submit") Pinned

mixin unpinnedPostPopupWindow()
    .unpinned-popup-container
        .popup-title
            h4 UnPinned Post
            button.btn-close-popup 
                i.fa-solid.fa-xmark
        p Are you sure you can unpin the post?
        .popup-button-container
            button.btn-close-popup Close
            button#unpinned-post-btn(type="submit") UnPinned


mixin uploadProfileImage()
    .upload-profile-pic-container
        .popup-title
            h4 Upload You Profile Picture
            button.btn-close-popup 
                i.fa-solid.fa-xmark
        input#upload-image-file.upload-profile-picture(type="file", name="upload-profile-pic")
        .preview-picture
            img#uploadImagePreview(src="", alt="", srcset="")
        .popup-button-container
            button.btn-close-popup Close
            button#save-picture-btn(type="submit") Save
        
mixin uploadCoverImage()
    .upload-cover-pic-container
        .popup-title
            h4 Upload You Profile Cover Picture
            button.close-cover-popup 
                i.fa-solid.fa-xmark
        input#upload-image-file.upload-cover-picture(type="file", name="upload-profile-pic")
        .preview-picture
            img#uploadImagePreview(src="", alt="", srcset="")
        .popup-button-container
            button.close-cover-popup Close
            button#save-cover-btn(type="submit") Save

mixin createFollowBtn(isFollowing, userId)
    - value = isFollowing ? 'Following' : 'Follow'
    - buttonClass = isFollowing ? 'followBtn following' : 'followBtn';
    button(class=buttonClass, data-userId=userId) #{value}

mixin createTab(name, activeTab, href)
    - className = activeTab ? 'tab active' : 'tab'
    a(class=className, href=href)
        span #{name}

//- profile page stricture
mixin profileSection()
    +popupWindow()
    +deletePopupWindow()
    +uploadProfileImage()
    +uploadCoverImage()
    +pinnedPostPopupWindow()
    +unpinnedPostPopupWindow()

mixin homeSection()
    +postCreate(true)
    +popupWindow()
    +deletePopupWindow()
    +pinnedPostPopupWindow()
    +unpinnedPostPopupWindow()


mixin searchSection()
    +popupWindow()
    +deletePopupWindow()
    +pinnedPostPopupWindow()
    +unpinnedPostPopupWindow()